[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "prezto"]
	path = zprezto
	url = https://github.com/stuartcampbell/prezto.git
[submodule "local/share/icons/Vertex"]
	path = local/share/icons/Vertex
	url = https://github.com/horst3180/Vertex-Icons.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
